<div class="container mt-4">
        <h1>Etat de Stock</h1>
        <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">date</th>
                <th scope="col">quantite</th>
                <th scope="col">prix unitaire</th>
                <th scope="col">Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>09</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>09</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>09</td>
              </tr>
            </tbody>
        </table>
</div>