<div class="container mt-4">
        <h1>Sortie</h1>
        <h3>Date :  <span>09/04/2023</span></h3>
        <table class="table">
            <thead class="table-light">
              <tr>
                <th scope="col">date entree</th>
                <th scope="col">quantite entree</th>
                <th scope="col">difference</th>
                <th scope="col">reste</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>0</td>
              </tr>
             
            </tbody>
          </table>
      </div>
